@import "./css/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}
html{
  background-color: #0F0F13;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
    
.App{
    padding: $space-3;

    .toolbar-wrapper{
      display: grid;
      place-items: center;
      margin-bottom: $space-5;
      // background-color: green;
      
      .toolbar{
        $icon-size: 60px;

        width: 400px;
        height: calc(#{$icon-size} + 40px);
        background-color: $clr-gray-3;
        border-radius: 16px;
        gap: $space-4;
        display: grid;
        grid-template-columns: repeat(4, $icon-size);
        align-items: center;
        justify-content: center;

        .icon{
          width: $icon-size;
          height: $icon-size;
          border: 2px solid $clr-gray-4;
          cursor: pointer;
          
          &.rect{
            @include radius;
          }
          
          &.circle{
            @include radius(100px);
          }
          
          &.line{
            border: none;
            display: grid;
            place-items: center;

            div{
              width: 2px;
              height: 135%;
              background-color: $clr-gray-4;
              transform: rotate(45deg);
            }
          }
          
          &.triangle{
            border: none;
            // background:none;
          }
        }

        svg {
          polygon, path{
            fill: none;
            stroke: $clr-gray-4;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        } 
      }
    }

    .content-wrapper{
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 350px);
      gap: $space-1;

      .shape-wrapper{
        background-color: $clr-gray-3;
        @include radius();
        overflow: hidden;

        .svg-container{
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // background-color: $clr-gray-2;
          overflow: hidden;
        }
      }
    }
  }