@import "./css/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}
:root{
  font-size: 14px;
}
html{
  background-color: #0F0F13;
  @include customScrollBar;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
    
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main{
    flex: 1;
    // @include border;
    
    &::after{
      content: "";
      display: table;
      width: 100%;
      height: $space-10;
    }
    
    .content-wrapper{
      display: grid;
      justify-content: center;
      grid-template-columns: $component-width;
      padding: 0 $space-1;
      gap: $space-4;
      // @include border;
      
      @include md{
        grid-template-columns: repeat(2, $component-width);
      }
  
      @include lg{
        gap: $space-5;
      }
  
      @include xl{
        grid-template-columns: repeat(3, $component-width);
        gap: $space-6;
      }
  
      .shape-wrapper{
        background-color: $clr-gray-2;
        position: relative;
        @include radius();
        overflow: hidden;
          
        .svg-container{
          overflow: hidden;
          position: relative;
  
          svg * { cursor: pointer; }        
        }
  
        .palette-wrapper{
          $palette-height: 20px;
          overflow: hidden;
          width: 100%;
          
          ul {
            background-color: $clr-gray-3;
            height: $palette-height;
            display: flex;
  
            li {
              flex: 1;
              display: flex;
              @include animation;
              margin-right: 5px;
              cursor: pointer;
  
              &:last-child {
                margin: 0;
              }
  
              > div {
                flex: 1;
                height: $palette-height;
              }
  
              &:hover{
                flex: 1.5;
              }
            }
          }
        }
  
        .menu-wrapper{
          position: absolute;
          top: $space-1; 
          right: $space-1;
          z-index: 100;
          // background-color: red;
  
          .menu-item{
            width: 40px;
            height: 40px;
            @include radius;
            cursor: pointer;
            overflow: hidden;
            background-color: $clr-gray-3;
            margin-bottom: $space-1;
            
            > div {
              display: grid;
              place-items: center;
              width: 100%;
              height: 100%;
            }
            
            svg{
              width: 55%;
              height: 55%;
              stroke: $clr-gray-5;
            }
  
            &.toggle{
              height: $space-3;
              @include gridCenter;
              background: $clr-gray-2;
              // @include border($clr-gray-3);
              margin-bottom: $space-2;
  
              svg{
                width: 120%;
                height: 120%;
                stroke: $clr-gray-5;
              }
            }
  
            &.active{
              @include border($clr-gray-4);
              svg{ 
                stroke: $clr-accent-blue-2; 
              }
            }
          }
        }
      }
  
    }
  }

  .footer{
    margin-top: auto;
    padding: $space-2 0;
    text-align: center;

    p, span{color: $clr-gray-3}
    span{text-decoration: underline}
  }
}